.cargo-section {
    background: var(--primary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #fefffe;
    padding: 20px;
 }