.footer-section {
    background: #141618;
    color: #f3f6f8;
}

h4 {
    padding: 15px;
}

h6 {
    color: #d5d5d5;
}

.partners-section img {
    width: 100px;
}

.footer-contact p {
    cursor: pointer;
    color: #d5d5d5;
}

.footer-contact p:hover {
    color: #f3f6f8;
}

.newsletter-form {
    background: #d5d5d5;
    padding: 10px;
    border: none;
    border-radius: 5px;
    
}

.social-media {
    background: #121212;  
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding: 15px;
}

@media screen and (max-width: 480px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .partners-section {
        margin-bottom: 15px;
    }

    .footer-contact {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 700px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .partners-section {
        margin-bottom: 15px;
    }

    .footer-contact {
        margin-bottom: 15px;
    } 
}