.card_decks {
   padding: 3rem;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   align-items: center;
}


.discover {
    height: 600px;
    width: 100%;
    background: url('../../assets/images/discover.jpg')  no-repeat center/cover;
    position: relative;
}

.discover_content {
    height: 100vh;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .card_decks {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 800px) {
    .card_decks {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}