.hero-section {
    height: 500px;
    width: 100%;
    background: url('../images/hero-greece-img.jpg')  no-repeat center/cover;
    position: relative;
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    margin: auto;
    padding: 5rem 1rem;
    max-width: 100%;
    line-height: 2em;
    color: #fefffe;
}

.hero-content h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--accent-color);
}

.hero-content p {
    font-size: 1.5rem;
}

.hero-button {
   padding: 10px;
   width: 200px;
   border: 1px solid #fefffe !important;
   color: #fefffe;
   background: transparent;
}

.hero-button:hover {
   border: none !important;
   background: var(--primary-color) !important;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 100%;
    padding: 1rem;
    background: var(--primary-color);
    color: #fefffe; 
}

.about-content h2 {
    font-weight: 700;
}

.about-content p {
    display: block;
    padding: 0 4rem;
}

@media screen and (max-width: 480px) {
    .hero-content h2 {
        font-size: 2.5rem;
    }   

    .hero-content p {
        font-size: 1rem;
    }
}
