/*
:root {
    --primary-color: #007afb; 
    --secondary-color: #f6404f;
    --accent-color: #f7a92d;
    --text-color: #414242;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alata', sans-serif;
}

.card img {
    width: 100% !important;
    height: 100% !important;
    background-size: cover !important;
    background: no-repeat center center !important;
    object-fit: cover !important;
}

h2 {
    letter-spacing: 1px;
}

.header a {
    color: var(--text-color) !important;
}

ul a:hover {
  border-bottom: 2px solid var(--primary-color);
}

.navbar-toggler {
    color: var(--accent-color);
}

.section-one {
    height: 500px;
    width: 100%;
    background: url('./img/main-hero.jpg')  no-repeat center/cover;
    position: relative;  
  }
  

.section-one-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    margin: auto;
    max-width: 100%;
    padding: 5rem 1rem; 
    line-height: 2em;
    color: #fefffe;      
}

.section-one-content h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--accent-color);
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 100%;
    padding: 1rem;
    background: var(--primary-color);
    color: #fefffe; 
}

.about-content h2 {
    font-weight: 700;
}

.about-content p {
    display: block;
    padding: 0 5rem;
}

/*Featured*/

.featured {
    height: 500px;
}

.featured-content h2 {
    margin: 2rem 0;
}

.featured-content a {
    margin: 2rem auto;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    width: 30%;
}

/*Partner*/

.partner {
    background: #f5f5f5;
}

.partner-content {
    padding: 1rem 0;
}

.partner-content img {
    width: 150px;
}

/*Contact*/

.cargo-section {
   background: var(--primary-color);
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   text-align: center;
   color: #fefffe;
   padding: 20px;
}

input {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 10px;
    outline: none;
    width: 350px;
    font-size: 17px;
    font-weight: 400;
    color: #555;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dedede;
}

textarea {
    border: 1px solid #d2d2d2;
    outline: none;
    font-size: 12px;
    width: 80%;
    height: 200px;
}

/*Footer*/

.footer-section {
    background: #121212;
}

.footer-content {
    color: #fefffe;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-contact p {
    color: var(--accent-color);
}

.social-media {
    background: #000;
    color: #fefffe;
}

.social-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
}

.fab {
    padding: 10px;
    font-size: 1.5rem;
}

/* Utils */
.btn-1 {
    padding: 10px 15px;
    outline: none;
    border: 1px solid #fefffe;
    border-radius: 5px;
    margin-left: 5px;
    color: #fefffe !important;
    background: transparent;
    letter-spacing: 1px;
}

.btn-1:hover {
    background: var(--primary-color);
    color: #fefffe;
}

.btn-2 {
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    color: #fefffe !important;
    background: var(--primary-color);
    letter-spacing: 1px;  
}