
:root {
    --primary-color: #007afb; 
    --accent-color: #f7a92d;
    --text-color: #121212;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alata', sans-serif;
}

h2 {
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
