@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

:root {
    --primary-color: #007afb; 
    --accent-color: #f7a92d;
    --text-color: #121212;
    --overlay-color: rgba(32, 32, 32, 0.7);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alata', sans-serif;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

h2 {
    letter-spacing: 1px;
}

.overlay-color {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--overlay-color);
}
